/*--------------------Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.callout-container {
    height: 100vh;
    background: url("../images/Main.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    color: #d5ecf1;
    background-color:rgb(179, 190, 190);
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.nav-container {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    
    }

    .nav-link {
    color: #525050;
   font-weight: bold;
  }

  
            
.navbar-brand {
    
    font-weight: bold;
    font-size: 150%;
    color: #525050;
}

.jumbotron {
    background-color: transparent;
}

.mid-header {
    color: #525050;
    font-weight: bold;
    font-size: 300%;

}

.lead {
    color: #525050;
    font-weight: bold;
}


.quotes-container {
    background-color: rgb(179, 190, 190);
}

.History-text {
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    letter-spacing: 0.1em
}

.quote-text {
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
    letter-spacing: 0.05em
}

.blockquote-footer {
    font-size: 60%;
}

.fa-birthday-cake {
    color: rgb(177, 177, 36);
}

.page-header {
    text-align: center;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.btn-order {
    font-weight: bold;
    border-radius: 20px;
    width: 200px;
}

.btn-grey {
    color: #525050;
    background-color: rgb(179, 190, 190);

}