/*--------------------Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    
}

.callout-container {
    height: 100vh;
    background: url("../images/Main.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    color: rgb(17, 17, 17);
    background-color:rgb(226, 159, 14) ;
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    z-index: 1;
}

.dropdown-menu {
    background-color: rgb(226, 159, 14);
}

.navbar-toggler-icon {
    color: #525050;
    z-index: 1;
}

.nav-container {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    
    }

    .nav-link {
    color: #525050;
   font-weight: bold;
  }

  .nav-link:hover {
    color:rgb(17, 17, 17);
  }

  
    
            
.navbar-brand {
    
    font-weight: bold;
    font-size: 200%;
    color: #f5f0f0;
    padding-left: 10px;
}

.navbar-brand:hover {
    color:rgb(17, 17, 17);
}

.fixed-top {
    z-index: 1030;
}

.jumbotron {
    background-color: transparent;
}

.mid-header {
    color: #525050;
    font-weight: bold;
    font-size: 300%;

}

.lead {
    color: #525050;
    font-weight: bold;
}


.quotes-container {
    background-color: rgb(226, 159, 14);
}

.cakes-container {
    background: url("/assets/images/Cake.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100vh
    
    
    
    
}


.History-text {
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    letter-spacing: 0.1em
}

.quote-text {
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
    letter-spacing: 0.05em
}

.blockquote-footer {
    font-size: 60%;
}

.fa-birthday-cake {
    color: rgb(114, 114, 111);
}

.page-header {
    text-align: center;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.btn-order {
    font-weight: bold;
    border-radius: 20px;
    width: 200px;
}

.btn-grey {
    color: #525050;
    background-color: rgb(226, 159, 14);
}


.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
    margin-top: 1px;
    margin-bottom: 0;
    color: rgb(226, 159, 14) ;
    
}

#photo {
    clear: both;
    column-count: 4;
    column-gap: 0px;
}
    
#photo img {
    width: 600px;
    height: 600px;
    object-fit: cover contain;

}
    
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
      column-count: 1;
    }
  }

  footer {
    
    margin-top: auto;
    padding-top: 0;
    border-bottom: 0;
    bottom:0;
    background-color: rgb(141, 94, 33) !important;
    
        
    
  }

  

  @media screen and (max-width: 800px){
    #photo{
        column-count: 1;
    }
}



  
  